.make-order
  max-width 60em

  .form-group
    max-width 25em

  .input-group-addon
     min-width 90px

  .side
    font-size 18px

.orders tr.bg-danger a
  color inherit
  text-decoration underline

.deposit-dialog
  text-align center

  .vex-content
    background #fff !important

.fulfill-dialog
  .vex-dialog-message
    word-break break-all
